<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
{% load static %}

<div class="list-courses">
  <div class="container">
      <h2 class=" title">Chứng chỉ</h2>
      <span class="subtitle">(5 chứng chỉ)</span>
      <div class="content">
          <div class="row">
              %for program in programs:
                %for course_id, course_info in program['fields']['courses_list'].items():
                <div class="card" style="width: 18rem;">
                  <img src="{% if 'image' in course_info and 'raw' in course_info['image'] %}{{ course_info['image']['raw']}}{% else %}{% static 'lms/static/images/logo.png' %}{% endif %}" class="card-img-top" alt="...">

                  <div class="card-body">
                    <h5 class="card-title">{{course_info['name']}}</h5>
                    <p class="card-text">{{course_info['name']}}</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link">{{program['fields']['program_id']} {{course_info['number']}}</a>
                    <a href="{{{course_info['blocks_url']}}}" class="card-link">Learn More</a>
                  </div>
                </div>
                %endfor
              %endfor
          </div>
      </div>

  </div>
</div>