/* .list-courses-login .course-login .course-left .course-img img {
  height: 244px;
  width: 338px;
}

.list-courses-login .course-login .course-left .course-img {
  margin-bottom: 0px;
  position: relative;
  margin-right: 30px;
}

.list-courses-login .course-login .course-left {
  display: flex;
}

.list-courses-login .course-login {
  display: flex;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 18px;
  margin-bottom: 44px;
  justify-content: space-between;
  position: relative;
}

.list-courses-login .course-login .course-left .course-decs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  transition: all 0.3s;
} */
